/* ====================================
// css variables
// ==================================== */

:root {
}
@import "bootstrap/scss/bootstrap-grid";

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

.different-background {
  background-color: #212b13;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

.row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^="col-"] {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
}

.background-img {
  background: url(../img/montagnes.png);
  background-size: cover;
  background-position: center 26%;
}

.title {
  font-family: CinzelDecorative-Regular;
  font-size: 55px;
  color: #ffffff;
  letter-spacing: 3.06px;
  text-align: center;
  line-height: 71px;
}

.intro-title {
  font-family: CinzelDecorative-Regular;
  font-size: 30px;
  color: #000000;
  letter-spacing: 1.39px;
  text-align: center;
  margin: 40px 10px 30px;
}

.intro {
  font-family: RocGrotesk-Light;
  font-size: 15px;
  color: #000000;
  letter-spacing: 0.58px;
  text-align: center;
  line-height: 20px;
  margin: 30px;
}

.event-title {
  font-family: CinzelDecorative-Regular;
  font-size: 40px;
  color: #ffffff;
  letter-spacing: 2.22px;
  text-align: center;
  margin: 40px 30px 10px 30px;
}

.description-title {
  font-family: RocGrotesk-Light;
  font-size: 30px;
  color: #ffffff;
  letter-spacing: 1.67px;
  text-align: center;
  margin: 30px;
}

.description-img {
  font-family: RocGrotesk-Light;
  font-size: 20px;
  color: #ffffff;
  letter-spacing: 1.11px;
  line-height: 25px;
  margin: 2px 20px 70px 20px;
}

.description-title-2 {
  font-family: RocGrotesk-Light;
  font-size: 30px;
  color: #ffffff;
  letter-spacing: 1.67px;
  text-align: center;
  margin: 30px;
}

.description-img-2 {
  font-family: RocGrotesk-Light;
  font-size: 20px;
  color: #ffffff;
  letter-spacing: 1.11px;
  line-height: 25px;
  margin: 2px 20px 70px 20px;
}

.map-title {
  font-family: CinzelDecorative-Regular;
  font-size: 40px;
  color: #000000;
  letter-spacing: 2.22px;
  text-align: center;
}

.map-subtitle {
  font-family: PinyonScript-Regular;
  font-size: 40px;
  color: #000000;
  letter-spacing: 2.22px;
  text-align: center;
  margin-bottom: 50px;
}

.menu {
  font-family: RocGrotesk-Light;
  font-size: 40px;
  color: #000000;
  letter-spacing: 2.22px;
  text-align: center;
  line-height: 55px;
}

.different-background-2 {
  background-color: #212b13;
}
.hourly {
  font-family: CinzelDecorative-Regular;
  font-size: 40px;
  color: #ffffff;
  letter-spacing: 2.22px;
  text-align: center;
  line-height: 40px;
  margin: 50px;
}

.hourly-title {
  font-family: PinyonScript-Regular;
  font-size: 40px;
  color: #ffffff;
  letter-spacing: 2.22px;
  text-align: center;
  margin-bottom: 20px;
}

.time {
  font-family: RocGrotesk-ExtraLight;
  font-size: 20px;
  color: #ffffff;
  letter-spacing: 1.67px;
  text-align: center;
  margin-bottom: 50px;
}

.footer-title {
  font-family: CinzelDecorative-Regular;
  font-size: 40px;
  color: #ffffff;
  letter-spacing: 2.22px;
  text-align: center;
  margin: 30px;
}

.footer-description {
  font-family: RocGrotesk-Light;
  font-size: 22px;
  color: #ffffff;
  letter-spacing: 1.67px;
  text-align: center;
  margin-bottom: 50px;
}

/* ====================================
// base rules
// ==================================== */
